@import url('https://fonts.googleapis.com/css?family=Lato');
$font-stack: Lato, sans-serif;

body {
    font-family: $font-stack;
}

nav.navbar {
    margin-bottom: 0;
} 

// Jumbotron styling 
div.about-me { 
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

div.section-heading {
    font-size: 4rem;
    text-align: center;
}

div.project h3 {
    text-align: center;
}

div.contact-icons {
    text-align: center;
    a {
        opacity: .6;
        padding: 20px;
        i.fa-github {
            color: black;
        };
        i.fa-linkedin-square {
            color: #0077B5;
        };
        i.fa-paper-plane {
            color: #FF3900;
        }
    };
    a:hover {
        opacity: .8;
    };
};

div#contact-form-div {
    display: none;
};
