{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="col-xs-12 section-heading">
        Hi There.
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <blockquote class="blockquote">
            <p>I'm a software engineer who's analytical, detail-oriented, and appreciates clean, readable code. I enjoy developing 
            with back-end technologies such as Python/Flask, Node.JS/Express, MySQL/PostgreSQL, and Mongo / Mongoose; as well as 
            front-end technologies such as React and Redux. I have extensive experience in Operations, both as a Team Lead, and 
            as an individual contributor overseeing business strategy at Google.</p>
        </blockquote>
    </div>
</div>
<div class="row">
    <div class="col-xs-12  section-heading">
        Select Projects
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-xs-12">
        <div>
            markWith
        </div>
        <div>
            markWith is a collaborative Markdown editor (and RESTful API) that allows multiple users to work on the same Markdown 
            file together in real time, and renders the resulting Markdown formatting as changes are made to the document. Built 
            using MongoDB, Node JS, Express, socket.io, Handlebars, JQuery, Bootstrap, and Heroku. 
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div>
            HappyFinder
        </div>
        <div>
            HappyFinder is a way to easily find happy hours by time-of-day and day-of-week. The project heavily utilizes data 
            scraping / parsing of the Google Places and FourSquare APIs. Built with PostgreSQL, Python, Flask, Jinja, and Bootstrap.
            Deployed on an AWS instance with SSL.
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12  section-heading">
        Get In Touch
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Github
        LinkedIn
        mark@markgreenburg.com
    </div>
</div>
{% endblock %}