{% extends "layout.html" %}

{% block body %}
<div class="jumbotron jumbotron-fluid about-me">
    <div class="container-fluid">
        <h1>Hi There.</h1>
        <p id="description">I'm a software engineer who's analytical, 
        detail-oriented, and appreciates clean, readable code. I enjoy
        developing with back-end technologies such as <code>Python</code>/
        <code>Flask</code>, <code>Node.js</code>/<code>Express</code>, 
        <code>MySQL</code>/<code>PostgreSQL</code>, and <code>Mongo</code>/
        <code>Mongoose</code>; as well as front-end technologies such as 
        <code>React</code>, <code>JavaScript</code>, and <code>JQuery</code>. 
        I have extensive experience in Operations, both as a Team Lead, and 
        as an individual contributor overseeing business strategy at 
        <code>Google</code>. You can check out my current resume on <a 
        target="_blank" href="https://github.com/markgreenburg/Resume">
        GitHub</a>.</p>
    </div>
</div>
<!-- Projects Container -->
<div class="container-fluid text-center" id="projects-container">
    <div class="row">
        <div class="col-xs-12  section-heading projects">
            Select Projects
        </div>
    </div>
    <!--Project Row 1-->
    <div class="row">
        <div class="col-sm-6 col-xs-12 project skilltreat-native">
            <div class="row">
                <div class="col-xs-12">
                    <h3>SkillTreat Native</h3>
                    <a href="https://github.com/markgreenburg/skilltreatnative">
                    <i class="fa fa-github"></i> GitHub</a>
                </div>
            </div>
            <div class="row image-row">
                <div class="col-xs-12">
                    <img class="img-responsive img-thumbnail" src=
                    "{{url_for('static', filename='images/mergedandroid2.png')}}"/>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-xs-12">
                    <p>SkillTreat is a native, full-featured, cross-platform 
                    mobile app made with the React Native framework. It 
                    features user identity management, account registration, 
                    cart management, and full integration with the Stripe API.
                    It serves as the front end for the SkillTreat API.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 project skilltreat-api">
            <div class="row">
                <div class="col-xs-12">
                    <h3>SkillTreat API</h3>
                    <a target="_blank" href="https://github.com/markgreenburg/skilltreatapi">
                    <i class="fa fa-github"></i> GitHub</a>
                </div>
            </div>
            <div class="row image-row">
                <div class="col-xs-12">
                    <img class="img-responsive img-thumbnail" src=
                    "{{url_for('static', filename='images/skilltreatapi2.png')}}"
                    />
                </div>
            </div>
            <div class="row content-row">
                <div class="col-xs-12">
                    <p>SkillTreat is an eCommerce API built with PostgreSQL,
                    Sequelize ORM, NodeJs, and Express. It's deployed on AWS and
                    uses SSL encryption. The API features core eComm. 
                    capabilities (user, cart, order management, etc.). 
                    Authentication is stateless, using JSON web tokens. New 
                    user registration includes a verification flow, with users
                    able to request new tokens upon expiration or blacklisting.
                    </p> 
                </div>
            </div>
        </div>
    </div>
    <!-- / Project Row 1-->
    <!--Project Row 2-->
    <div class="row">
        <div class="col-sm-6 col-xs-12 project markwith">
            <div class="row">
                <div class="col-xs-12">
                    <h3>markWith</h3>
                    <a target="_blank" href="https://github.com/markgreenburg/markWith">
                    <i class="fa fa-github"></i> GitHub</a> | 
                    <a target="_blank" href="https://markwith.herokuapp.com">
                     Website</a>
                </div>
            </div>
            <div class="row image-row">
                <div class="col-xs-12">
                    <img class="img-responsive img-thumbnail" src=
                    "{{url_for('static', filename='images/markwith2.png')}}"/>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-xs-12">
                    <p>markWith is a collaborative Markdown editor (and API)
                    that allows multiple users to work on the same 
                    Markdown file together in real time, and renders the 
                    resulting Markdown formatting as changes are made to the 
                    document. Built using MongoDB, Node JS, Express, 
                    socket.io, Handlebars, JQuery, Bootstrap, and Heroku.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 project happyfinder">
            <div class="row">
                <div class="col-xs-12">
                    <h3>HappyFinder</h3>
                    <a target="_blank" href="https://github.com/markgreenburg/happyproject">
                    <i class="fa fa-github"></i> GitHub</a> | 
                    <a target="_blank" href="https://markgreenburg.com/happyhour">
                     Website</a>
                </div>
            </div>
            <div class="row image-row">
                <div class="col-xs-12">
                    <img class="img-responsive img-thumbnail" src=
                    "{{url_for('static', filename='images/happyfinder2.png')}}"
                    />
                </div>
            </div>
            <div class="row content-row">
                <div class="col-xs-12">
                    <p>HappyFinder is a way to easily find happy hours by 
                    time-of-day and day-of-week. The project heavily utilizes 
                    data scraping / parsing of the Google Places and 
                    FourSquare APIs. Built with PostgreSQL, Python, Flask, 
                    Jinja, and Bootstrap. Deployed on an AWS instance with SSL.
                    </p> 
                </div>
            </div>
        </div>
    </div>
    <!-- / Project Row 2-->
</div>
<!-- / Projects Container -->
<!-- Tech Container -->
<div class="container-fluid bg-primary" id="tech-container">
    <div class="row text-center">
        <div class="col-xs-12  section-heading technologies">
            Skills &amp; Tech
        </div>
    </div>
    <div class="row icon-container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="row icon-row">
                    <div class="col-md-3 col-xs-6">
                        <div class="stack-container">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="devicon-amazonwebservices-original fa-stack-1x text-primary"></i>
                            </span>
                            <h4>AWS</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="stack-container">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="devicon-apache-plain fa-stack-1x text-primary"></i>
                            </span>
                            <h4>Apache</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="stack-container">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="devicon-bootstrap-plain fa-stack-1x text-primary"></i>
                            </span>
                            <h4>Bootstrap</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="stack-container">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="devicon-css3-plain fa-stack-1x text-primary"></i>
                            </span>
                            <h4>CSS3</h4>
                        </div>
                    </div>
                </div>
                <div class="row icon-row">
                    <div class="col-md-3 col-xs-6">
                        <div class="stack-container">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="devicon-git-plain fa-stack-1x text-primary"></i>
                            </span>
                            <h4>Git</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="stack-container">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="devicon-heroku-original fa-stack-1x text-primary"></i>
                            </span>
                            <h4>heroku</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="stack-container">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="devicon-html5-plain fa-stack-1x text-primary"></i>
                            </span>
                            <h4>HTML5</h4>
                        </div>
                    </div>                    
                    <div class="col-md-3 col-xs-6">
                        <div class="stack-container">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="devicon-javascript-plain fa-stack-1x text-primary"></i>
                            </span>
                            <h4>JavaScript</h4>
                        </div>
                    </div>                  
                </div>
                <div class="row icon-row">
                    <div class="col-md-3 col-xs-6">
                        <div class="stack-container">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="devicon-jquery-plain fa-stack-1x text-primary"></i>
                            </span>
                            <h4>jQuery</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="stack-container">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="devicon-mongodb-plain fa-stack-1x text-primary"></i>
                            </span>
                            <h4>mongoDB</h4>
                        </div>
                    </div>                                          
                    <div class="col-md-3 col-xs-6">
                        <div class="stack-container">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="devicon-mysql-plain fa-stack-1x text-primary"></i>
                            </span>
                            <h4>MySQL</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="stack-container">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="devicon-nodejs-plain fa-stack-1x text-primary"></i>
                            </span>
                            <h4>Node.js</h4>
                        </div>
                    </div>                    
                </div>
                <div class="row icon-row">
                    <div class="col-md-3 col-xs-6">
                        <div class="stack-container">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="devicon-react-original fa-stack-1x text-primary"></i>
                            </span>
                            <h4>React</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="stack-container">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="devicon-python-plain fa-stack-1x text-primary"></i>
                            </span>
                            <h4>Python</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="stack-container">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="devicon-postgresql-plain fa-stack-1x text-primary"></i>
                            </span>
                            <h4>PostgreSQL</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Tech Container -->
<!-- Contact Container -->
<div class="container-fluid" id="contact-container">
    <div class="row">
        <div class="col-xs-12  section-heading contact">
            Get In Touch
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 contact-icons text-center">
            <a target="_blank" href="https://github.com/markgreenburg">
                <i class="fa fa-github fa-4x"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/markgreenburgjr">
                <i class="fa fa-linkedin-square fa-4x"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center mail-to">
            <a  target="_blank" href="mailto:mark@markgreenburg.com"
            >mark@markgreenburg.com</a>
        </div>
    </div>
    <div class="col-sm-offset-4 col-sm-4 col-xs-12" id="contact-form-div">
        <form id="contact-form">
            <label>Your Name</label><br />
            <input id="name" class="form-control" type="text" width="95" 
            placeholder="Jane Doe"required>
            <label>Your Email</label><br />
            <input id="email" class="form-control" type="email" width="95" 
            placeholder="you@somewhere.com"required>
            <label>Message</label><br />
            <textarea id="message" class="form-control" cols="95" rows="10" 
            required></textarea>
            <button id="submit-btn" class="btn btn-default pull-right">
                Send <i class="fa fa-arrow-right"></i>
            </button>
        </form>
    </div>
</div>
<!-- / Contact Container -->

<script src="{{url_for('static', filename='javascript/submitMessage.js')}}">
</script>
{% endblock %}