{% extends "layout.html" %}

{% block body %}
<div class="jumbotron jumbotron-fluid about-me">
    <div class="container-fluid">
        <h1>Hi There.</h1>
        <p id="description">I'm a software engineer who's analytical, detail-oriented, and appreciates clean, readable code. I enjoy
        developing with back-end technologies such as Python/Flask, Node.JS/Express, MySQL/PostgreSQL, and
        Mongo/Mongoose; as well as front-end technologies such as React and Redux. I have extensive experience
        in Operations, both as a Team Lead, and as an individual contributor overseeing business strategy at Google.</p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12  section-heading projects">
            Select Projects
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12 project markwith">
            <div class="row">
                <div class="col-xs-12">
                    <h3>markWith<h3>
                </div>
            </div>
            <div class="row image-row">
                <div class="col-xs-12">
                    <img class="img-responsive img-thumbnail" src=
                    "{{url_for('static', filename='images/markwith2.png')}}"/>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-xs-12">
                    <p>markWith is a collaborative Markdown editor (and RESTful
                     API) that allows multiple users to work on the same 
                     Markdown file together in real time, and renders the 
                     resulting Markdown formatting as changes are made to the 
                     document. Built using MongoDB, Node JS, Express, 
                     socket.io, Handlebars, JQuery, Bootstrap, and Heroku.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 project happyfinder">
            <div class="row">
                <div class="col-xs-12">
                    <h3>HappyFinder<h3>
                </div>
            </div>
            <div class="row image-row">
                <div class="col-xs-12">
                    <img class="img-responsive img-thumbnail" src=
                    "{{url_for('static', filename='images/happyfinder2.png')}}"
                    />
                </div>
            </div>
            <div class="row content-row">
                <div class="col-xs-12">
                    <p>HappyFinder is a way to easily find happy hours by 
                    time-of-day and day-of-week. The project heavily utilizes 
                    data scraping / parsing of the Google Places and 
                    FourSquare APIs. Built with PostgreSQL, Python, Flask, 
                    Jinja, and Bootstrap. Deployed on an AWS instance with SSL.
                    </p> 
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12  section-heading contact">
            Get In Touch
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 contact-icons text-center">
            <a href="https://github.com/markgreenburg">
                <i class="fa fa-github fa-4x"></i>
            </a>
            <a href="https://www.linkedin.com/in/markgreenburgjr">
                <i class="fa fa-linkedin-square fa-4x"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center mail-to">
            <a  href="mailto:mark@markgreenburg.com">mark@markgreenburg.com</a>
        </div>
    </div>
        <div class="col-sm-offset-4 col-sm-4 col-xs-12" id="contact-form-div">
            <form id="contact-form">
                <label>Your Name</label><br />
                <input id="name" class="form-control" type="text" width="95" 
                placeholder="Jane Doe"required>
                <label>Your Email</label><br />
                <input id="email" class="form-control" type="email" width="95" 
                placeholder="you@somewhere.com"required>
                <label>Message</label><br />
                <textarea id="message" class="form-control" cols="95" rows="10" 
                required></textarea>
                <button id="submit-btn" class="btn btn-default pull-right">
                    Send <i class="fa fa-arrow-right"></i>
                </button>
            </form>
    </div>
</div>
<script src="{{url_for('static', filename='javascript/submitMessage.js')}}">
</script>
{% endblock %}